@(campaignForm: Form[Campaign])

@main("Create new campaign") {

    @if(campaignForm.hasErrors) {
        @if(campaignForm.errors.nonEmpty) {
            @for(error <- campaignForm.errors) {
                <b>@error.key</b> @Messages(error.message) <br />
            }
        }
    }

    @helper.form(action = routes.CampaignController.createCampaign(),
        'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
        @helper.inputText(campaignForm("name"), '_label -> "Name", 'placeholder -> "", 'class -> "form-group")
        @helper.inputText(campaignForm("link"), '_label -> "Link", 'placeholder -> "", 'class -> "form-group")
        @helper.inputFile(campaignForm("image"), '_label -> "Image", 'placeholder -> "", 'class -> "form-group")
        <div class="form-group">
            <button type="submit" class="btn btn-default">Create</button>
        </div>
    }
}