@(campaigns: Seq[Campaign])(implicit flash: Flash)

@main("Welcome to Play") {

    <p class="bg-success"> @flash.get("success")</p>

    <table class="table table-bordered">
        <tr>
            <th>Id</th><th>Name</th><th>Link</th><th>Image</th>
        </tr>
        @for(campaign <- campaigns) {
            <tr>
                <td><a href="@routes.Application.campaign(campaign.id.get)">@campaign.id</a></td>
                <td><a href="@routes.Application.campaign(campaign.id.get)">@campaign.name</a></td>
                <td>@campaign.link</td>
                <td>
                    <img src="@routes.Assets.at("images/icons/" + campaign.id.get + ".jpg")" width="100"/>
                </td>
            </tr>
        }
    </table>


}
