@(campaign: Campaign)(implicit flash: Flash)

@main("Welcome to Play") {

    <p class="bg-success"> @flash.get("success")</p>

    <table class="table table-bordered">
        <tr>
            <th>Id</th><th>Name</th><th>Link</th><th>Image</th>
        </tr>
        <tr>
            <td><a href="@routes.Application.campaign(1)">@campaign.id</a></td>
            <td><a href="@routes.Application.campaign(1)">@campaign.name</a></td>
            <td>@campaign.link</td>
            <td>@campaign.image</td>
        </tr>
    </table>


}
