@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="container">
                        <ul class="nav nav-pills">
                            <li role="presentation"><a href="@routes.Application.index()">Home</a></li>
                            <li role="presentation"><a href="@routes.Application.create()">New campaign</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5">@content</div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            @*TODO: update it*@
            <div class="col-md-8">
                    <h2>Embedded code</h2>
                <pre>
                    &lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">&lt;/script&gt;
                    &lt;script type="text/javascript"&gt;
                        jQuery(function ($) {
                            $.getJSON("http://localhost:9000/api/random")
                                .success(function(data) {
                                    $("body").append("&lt;a href='"+ data.link +"'>&lt;img src='data:image/jpg;base64,"+ data.image +"'/>&lt;/a&gt;");
                                });
                        });
                    &lt;/script&gt;
                </pre>
            </div>
            <div class="col-md-2"></div>
        </div>


        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))"></script>
        <script src="@routes.Assets.at("index.js")"></script>

            <!-- Enable tooltips. Used primarily to validate that JQuery + Bootstrap JS are loaded. Remove this script if you don't want tooltips. -->
        <script type="text/javascript">
            jQuery(function ($) {
                $("[rel='tooltip']").tooltip()
            });
        </script>
    </body>
</html>
